<!DOCTYPE html>
<html>
<head>
    <title>NeuroAI | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="logo">🧠 NeuroAI</div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/alzheimer-risk">Screening</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>

<section class="hero">
    <h1>AI-Based Alzheimer Risk Screening</h1>
    <p>Early awareness using machine learning</p>
    <a href="/alzheimer-risk" class="btn">Start Screening</a>
</section>

</body>
</html>
